{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block  content %}
    <h2 style="color:#0b66d1; text-align:left; margin-bottom:14px;">Latest Articles</h2>

    <ul class="article-list">
        {% for article in articles %}
            <li class="Article">
                <div class="article-header">
                    <span class="article-icon">⚽</span>
                    <p class="article-title">{{ article.titre }}</p>
                </div>
                <p class="article-meta">{{ article.date_publication|date:"D M Y" }} &nbsp;|&nbsp; <span style="color:#007BFF">{{ article.category }}</span></p>
                <p class="article-content">{{ article.contenu }}</p>
            </li>
        {% empty %}
            <li class="Article"><p>No articles found. Be the first to create one!</p></li>
        {% endfor %}
    </ul>
{% endblock %}
